<header class=" bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-success mb-2">
                        Welcome to the world of therapy!
                    </h1>
                    <p class="lead fw-normal text-white-50 mb-4">
                        Quickly design and customize responsive
                        mobile-first sites with Bootstrap, the world’s most popular front-end open source
                        toolkit!
                    </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-success btn-lg px-4 me-sm-3" asp-area="" asp-controller="Advisor" asp-action="AdvisorList">Get Started</a>
                        <a class="btn btn-outline-success btn-lg px-2" asp-area="" asp-controller="Home" asp-action="NewAdvisor">Click to become a Advisor!</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <img class="img-fluid rounded-3 my-5"
                     src="/img/terapy.png" alt="..." />
            </div>
        </div>
    </div>
    <div>
        <h2 class="text-center text-success fw-bold">Why Online Therapy?</h2>
        <hr/>
    </div>
    <div class="py-1 bg-light">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10 col-xl-7">
                    <div class="text-center">
                        <div class="fs-4 mb-2 fst-italic">
                            The most important advantage in online therapy; It is the ability of people to meet with the expert from where they are. With online therapy, people can connect to the specialist and transfer their problems and problems to the specialist instantly and complete the treatment process.

                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <hr />
  

</header>