@model ForgotPasswordViewModel
<h1 class="display-6 mt-3">
    Password Reset
</h1>
<h5 class="">We need your e-mail address so we can send you the password reset link.</h5>
<hr />
<form asp-area=""
      asp-controller="Account"
      asp-action="ForgotPassword"
      method="post">
    <div class="row d-flex justify-content-center" style="width:30%;">
        <div class="col-12 mb-3  text-center">
            <label class="form-label ">
                Enter your email address:
            </label>
            <input class="form-control" name="email" />
            <span class="text-danger">@ViewBag.EmailErrorMessage</span>
        </div>
        <div class="col-12 mb-3 d-grid">
            <button type="submit" class="btn btn-success">
                Reset password
            </button>
        </div>
        <div class="col-12 mb-3 d-grid">
            <a asp-action="Login" class="btn btn-warning">
                Return to Previous Page
            </a>
        </div>
    </div>

</form>

    
</div>