@model List<Category>
<div class="list-group mt-4">
    <a class="list-group-item list-group-item-action active bg-success"
       asp-area=""
       asp-controller="Advisor"
       asp-action="AdvisorList"
       asp-route-categoryurl=""
       asp-route-categoryurl="">All Category</a>
    @foreach (var category in Model)
    {
        <a class="list-group-item list-group-item-action"
           asp-area=""
           asp-controller="Advisor"
           asp-action="AdvisorList"
           asp-route-categoryurl="@category.Url">@category.Name</a>
    }
</div>